# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyc

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.venv/

# Logs
*.log
